$button-color: rgb(255, 0, 0);
$secondary-color: rgb(240, 237, 228);
$containers-color: rgb(245, 252, 249);
$body-color: rgb(250, 250, 250);
$white-color: rgb(255, 255, 255);
$border-color: rgb(128, 128, 128);
$buttons-shadow: 0 7px 14px rgba(0,0,0,0.25), 
                 0 5px 5px rgba(0,0,0,0.22);