@import '../styles/colors.scss';
@import '../styles/header.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



h5 {
  font-size: 0.8em;
  font-weight: 300;
  padding-top: 1em;
}

.main-container {
  height: 100vh;
  width: 100vw;



  .section {
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;

    .title {
      margin: 2em 0 1em 0;
    }

    .property-section {
      padding: 0.5em;
      margin-bottom: 5em;
      flex-wrap: wrap;
      display: flex;
      justify-content: space-around;
      

      .font-awesome {
        transform: scale(1);
        transition: all 0.4s ease-out;
        margin: 0.2em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 1px solid grey;
        width: 120px;
        height: 120px;
        margin-bottom: 1em;
        cursor: pointer;

        h5 {
          font-size: 0.9em;
        }
      }
      .font-awesome:hover {
        transform: scale(1.05);
        transition: all 0.4s ease-out;
        box-shadow: $buttons-shadow;
      }


      .clicked {
        border: 1px solid red;
        color: red;
        transform: scale(1);
        transition: all 0.4s ease;
        box-shadow:  0 3px 7px rgba(0,0,0,0.25), 
                     0 3px 3px rgba(0,0,0,0.22);
      }

    }

    .property-address {
      margin: 0 auto; 
      width: 60vw;

      form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      
        .form-row {
          width: 81%;
          margin: 0 auto;
        }

        .btn {
          margin: 2em 0 2em 0;
        }
        .btn-primary {
          background-color: $button-color;
          border-color: $button-color;
          box-shadow: $buttons-shadow;
        }
      
      }
    }
  }
}

.container {
  display: flex;
}


@media only screen and (min-width: 992px) {
 .property-section {
  width: 800px;
  
  
 }
}


// @media only screen and (max-width: 991px) {
//  .property-section {
//   padding: 2em 4em;
  
  
//  }
// }