@import './colors.scss';



.location-container {
  width: 100vw;
  min-height: 80vh;
  
  .wrap-container {
    height: 100%;
    margin: auto;
    display: flex;
    width: 85vw;
    border: 1px solid grey;
    border-top: none;

    .section-container {
      width: 100%;


      .address-container {
        border-right: 1px solid grey;
        padding-top: 1.5em;
        height: 100%;
        background-color: $containers-color;

        h4 {
          margin-left: 2em;
        }

        form {
          padding-top: 1em;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          margin: 0 auto;


          textarea {
            height: 10em;
          }
        }
      }
    }

    .image-container {

      label{
        border-radius: 4px;
        box-shadow: $buttons-shadow;
        margin: 2em 0 2em 4em;
        padding: 0.6em 1.2em;
        background: $button-color; 
        display: table;
        color: #fff;
        cursor: pointer;
      }
        
      input[type="file"] {
          display: none;
      }

      h4 {
        margin-left: 2em;
        padding-top: 3em;
  
      }  
    }

    .img-wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      
      .image-content {
        box-shadow: 0 7px 14px rgba(0,0,0,0.25), 
        0 5px 5px rgba(0,0,0,0.22);
        border: 1px solid grey;
        margin: 1em;
        width: 200px;
        height: 150px;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
      }

      .image-content:hover {
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
        0 10px 10px rgba(0,0,0,0.22);
      }
    }
  } 
}


// Edit profile 
.container-edit-profile {

  background-color: $body-color;
  width: 100vw;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .container-edit {
    border-radius: 5px;
    box-shadow: $buttons-shadow;
    background-color: $white-color;
    position: relative;
    width: 35vw;
    min-height: 60vh;
    padding-top: 2em;
    display: flex;
    align-items: center;
    flex-direction: column;

    .edit-profile-image {
      label{
        
        border-radius: 4px;
        box-shadow: $buttons-shadow;
        margin: 2em 0 2em 0em;
        padding: 0.6em 1.2em;
        background: $register-input; 
        display: table;
        color: black;
        cursor: pointer;
        font-size: 0.9em;
      }


      input[type="file"] {
          display: none;
      }


    }
  }
}



.btn-edit {
  position: absolute;
  left: 50%;
  bottom: 2em;
  transform: translate(-50%, 0);
  
  .button {
    padding: 0.5em 2em;
  }
}

.image-profile {
  align-self: center;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 1px solid grey;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}