@import '../styles/colors.scss';


.subtitle {
  margin-bottom: 1.2em;
}


.container-price {

  margin: 0 auto;
  border-left: 1px solid grey;
  border-bottom: 1px solid grey;
  border-right: 1px solid grey;

  .sale-rent {   
    width: 100%;
    display: flex;

    .sale {
      border-right: 1px solid grey;
      border-bottom: 1px solid grey;
      width: 50%;
      cursor: pointer;
    }

    .border-bottom {
      border-bottom: none !important;
      background-color: $containers-color;
    }

    .rent {
      border-bottom: 1px solid grey;
      width: 50%;
      cursor: pointer;
    }

    h4 {
      text-align: center;
      font-size: 1.3em;    
    }

  }

  .sale-content {
    background-color: $containers-color;
    padding-bottom: 2em;

    .columns-p-s {
      padding-top: 3em;

      .column-p-s:nth-child(5) {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;

        .row-p-s {
          width: 29%;
          margin: 0 1.3em;
        }  
      }

      .column-p-s {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding-bottom: 2em;


        .row-p-s {
          width: 29%;


          .field {
            margin: 0.25em 0;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            border: 0.5px solid grey;
            background-color: $secondary-color;

            h6 {
              margin-bottom: 0;
              font-size: 0.9em;
              line-height: 30px;
              font-weight: 350;
            }

            .checkbox {
              width: 15px;
              height: 15px;
              margin-right: 1em;
            }

            input, select {
              margin-right: 0.5em;
              width: 10em;
              height: 1.3em;
            }
          }
        }
      }


      h5 {
        margin-left: 1em;
      }
    }
  }
}

@media only screen and (min-width: 991px) {
  .container-price {
    width: 90vw;
  }
}