$button-color: rgb(255, 0, 0);
$secondary-color: rgb(240, 237, 228);
$containers-color: rgb(245, 252, 249);

$buttons-shadow: 0 7px 14px rgba(0,0,0,0.25), 
                             0 5px 5px rgba(0,0,0,0.22);